spring-ioc/src/main/resources/META-INF/customtag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.thousun.com/schema/user" 
	targetNamespace="http://www.thousun.com/schema/user"
	elementFormDefault="qualified">
	
	<xsd:element name="user">
		<xsd:complexType>
			<xsd:attribute name="id"/>
			<xsd:attribute name="userName"/>
			<xsd:attribute name="email"/>
		</xsd:complexType>
	</xsd:element>	
	
</xsd:schema>